# Django Configuration
SECRET_KEY=django-insecure-gydw_r1py1searis(#$))=r1ws6%9e+pnbd#4li@0y@hmybpx5
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Spotify API Credentials
SPOTIFY_CLIENT_ID=SPOTIFY_CLIENT_ID
SPOTIFY_CLIENT_SECRET=SPOTIFY_CLIENT_SECRET